*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: rgb(107, 178, 245);
    padding: 13px;
}

.logo{
    margin-right: 10px;
}

.site_title{
    color: white;
}

form{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    box-shadow: 3px 5px 10px 3px rgb(134, 134, 134);
}

.title{
    outline: none;
    text-decoration: none;
    border: none;
    color: rgb(134, 134, 134);
    font-size: 25px;
    padding: 5px;
    font-weight: 400px;
}
.content{
    outline: none;
    text-decoration: none;
    border: none;
    color: rgb(134, 134, 134);
    font-size: 25px;
    padding: 5px;
    font-weight: 400px;
}

.create_button{
    background-color: white !important;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    min-height: 40px;
    border-radius: 90px !important;
    margin-top: 14px !important;
    margin-left: 90% !important;
    min-width: 0px !important;
}

.MuiButton-label{
    color: rgb(77, 180, 240);
  }

.display_notes{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
}

.note{
    display: flex;
    flex-direction: column;
    width: 22%;
    padding: 15px 22px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    box-shadow: 3px 5px 10px 3px rgb(134, 134, 134);
}

.note:hover{
    display: flex;
    flex-direction: column;
    width: 22%;
    padding: 15px 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    transform: scale(1.1);
    transition: 0.5s ease-in-out all !important;
    box-shadow: 3px 5px 10px 3px rgb(134, 134, 134);
}

.diplay_title{
    padding: 5px;
    font-size: 25px;
    color: rgb(80, 79, 79);
    font-weight: 800;
}

.diplay_content{
    padding: 5px;
    color: rgb(110, 109, 109);
    font-size: 18px;
}

.display_button{
    background-color: white !important;
    /* max-width: 70px;
    min-width: 70px; */
    max-height: 35px;
    min-height: 35px;
    border-radius: 90px !important;
    margin-top: 14px !important;
    margin-left: 90% !important;
    min-width: 0px !important;
}

@media (max-width:1494px)
{
    .display_notes{
        display: flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 25px;
    }
}